@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

.scrolltes{
    animation-timeline: scroll();
}

/* @keyframes tes {
    0%{
        transform: ;
    }
    100%{

    }
} */
    
  